body {
	background-color:skyblue;
	font-family: "arial";
}
ul {
   font-size: 40px;
}

h1 { 
	color:navy;
   text-align:center;
   fontfamily:"Times New Roman", serif;
   font-size:60px;
}

.topnav {
   background-color:#3c3f96;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #fcba03;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font color: white;
}

   .topnav a:hover {
   background-color: #595b9c;
   color: black;
}

.topnav a.active {
   background-color:#1e2187;
   color: white;
}

p {


}

#unknown {
   background: url("unknown.jpeg");
   background-repeat: no-repeat;
   backgound-size: cover;
   height: 500px;
}



